.DS_Store
bulk-data/
staticfiles/
venv/
.pytest_cache/
.idea/
.idea
.coverage
.coverage.*
bootstrap-theme-maker/
media/
lightsail-credentials/
logs/
__pycache__/
.env
StreamlineMR2.egg-info/
.tox
experiments/
.vscode/
metagenerator/
*.json
credentials/
htmlcov/
scripts_arsenal/
dist/
build/
*.egg-info/
.eggs/*
src/scripts/
scripts/deploy.sh
scripts/troubleshoot-internet.sh
management/
scripts/*.sh
scripts/_core.py
scripts/report.py
data/geo/*
data/naics/2022/database.json
key.key
exp.ipynb
poetry.lock
.venv/
